<!-- py- padding along top and bottom (y axis) -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; BestCamps 2021</span>
    </div>
</footer>
